#leaflet-map {
	height: 80vh;
	width: 60%;
}

#scatter-canvas1 {
	margin-bottom: 400px;

}

.container {
	border: 1px solid black;
}

.chart-container * {
	float: left;
}

#map-facts {

}

/* scatter plot */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;  
  width: 200px;
  height: 28px;
  pointer-events: none;
}

svg {
	z-index: -1;
}

