
.custom-post-heading {
	padding: 150px 0;
	color: black;
	text-align: center;
}

.heading-text h1,h3 {
	color: black;
	text-align: center;
}
#scatter-canvas1, #bar-canvas1 {
	margin-bottom: 75px;
}

.chart-heading {
    font-size: 28px;
/*    margin-top: 60px;*/
    font-weight: 600;
}

p {
	padding: 0px 30px;
	line-height: 1.5;
	font-size: 20px;
	margin: 30px 0px;
}
.chart-container {
	position: relative;
	
}

.cal-data {

	height:100%;
}

.calendar-chart {
	margin-bottom: 50px;
}
.calendar-chart *{
	display: inline-block;
}


#leaflet-map {
	top:0;
	left:0;
	height: 80vh;
	width: 100%;
	z-index:8999;
}
#map-wrap {
	margin-bottom: 40px;
}
#map-facts {
	pointer-events: none;
	position: absolute;
	width: 300px;
	height: 300px;
	top: 50px;
  	left: 65vw;
	color: red;
	z-index: 9000;
	background: white;
}

/* scatter plot */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  
}

.dot:hover {
	/*cursor: crosshair;*/
	fill: #489bd6;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}


/* bar chart */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}



/* from calendar-heatmap by
	https://github.com/DKirwan/calendar-heatmap
 */
text.month-name,
text.calendar-heatmap-legend-text,
text.day-initial {
  font-size: 10px;
  fill: #aaaaaa;
  font-family: Helvetica, arial, 'Open Sans', sans-serif
}
.day-cell {
  border: 1px solid gray;
}
rect.day-cell:hover {
  stroke: #555555;
  stroke-width: 1px;
}
.day-cell-tooltip {
  position: absolute;
  z-index: 9999;
  padding: 5px 9px;
  color: #bbbbbb;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  text-align: center;
}
.day-cell-tooltip > span {
  font-family: Helvetica, arial, 'Open Sans', sans-serif
}
.calendar-heatmap {
  box-sizing: initial;
}
